#graphic
	position relative
	// transform scale(0.025)
	.book
		position absolute
		top 0
		left 0
		width 10rem
		background $gray
		transform translate(-50%, 0)

	.book__title
		// display none
		text-align center
		