.intro
	margin 0 auto
	padding 0.5rem 1rem 1rem 1rem
	max-width $column-width

	a.logo
		display block
		border none
		max-width 9rem
		margin 0 auto

		svg
			fill $off-black
			display block
			width 100%

	&__divider
		margin 1rem auto
		max-width 20rem
		overflow hidden
		text-align center
		font-family $national-narrow
		text-transform uppercase
		font-size 16px
		font-weight 400
		display flex
		align-items center
		text-align center
		color $primary
		&::before
			margin-right 2rem
		&::after
			margin-left 2rem
		&::before, &::after
			content ''
			flex 1
			border-bottom 1px dashed $primary

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__byline
		max-width $column-width
		margin 0 auto 3rem auto
		text-align center
		set-type-size('medium')
		font-family $national-narrow
		color $secondary
		a
			color $secondary
			border-bottom 1px solid $secondary

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		font-family $national-narrow

	.intro__prelude
		font-family $national
		color $primary

//// Ribbon Header
.intro__hed-hipster
	font-size 50px
	text-transform uppercase
	color $secondary
	text-align center
	margin 0
	font-family $vast
	line-height: 1
	+mq('bp-4')
		font-size 70px

.intro__hed-ribbon
	set-type-size('x-large')
	line-height 1.1
	width 70%
	position relative
	background $secondary
	color $bg
	text-align center
	padding 0.25rem 2rem
	margin 1rem auto 1rem
	font-family $unica
	text-transform uppercase
	+mq('bp-4')
		set-type-size('xx-large')
		line-height 1.4
		width 90%
	&:before, &:after
		content ''
		position absolute
		display block
		top -0.85rem
		border 1.5rem solid darken($secondary, 6)
		z-index -1
	&:before
		left -2.85rem
		border-right-width 1.2rem
		border-left-color transparent
	&:after
		right -2.85rem
		border-left-width 1.2rem
		border-right-color transparent
	.intro__hed-text
		&:before, &:after
			content ''
			position absolute
			display block
			border-style solid
			border-color darken($secondary, 12) transparent transparent transparent
			top -0.9rem
			transform rotate(180deg)
		&:before
			left 0
			border-width 0.75rem 0 0 0.75rem
		&:after
			right 0
			border-width 0.75rem 0.75rem 0 0
