#minimap
	height 100vh
	width 100%
	max-width 10rem
	position fixed
	top 0
	right 0
	transform translateX(100%)
	transition transform 250ms ease-in-out
	z-index set-index(top)
	overflow hidden
	padding 1rem
	background-color darken($bg, 5)
	+mq('bp-5')
		&.is-visible
			transform translateX(0)
  .minimap__hed
		margin 0
		set-type-size(small, false)
		max-width 7rem
		margin 0 auto
		font-family $sans-display
		font-weight 600
		color darken($bg, 60)
		text-align center
		line-height 1
		padding-bottom 1rem
		span
			color $primary

	.minimap__graphic
		position relative
		margin-top 0.5rem
		cursor pointer
	.book
		position absolute
		transform translate(-50%, 0)

	.graphic__locator
		position absolute
		top 0
		left 50%
		transform translateX(-50%)
		width 67%
		height 1rem
		z-index set-index(top)
		background-color $primary
		opacity 0.2
