#minimap
	height 100vh
	width 100%
	max-width 10rem
	position fixed
	top 0
	right 0
	transform translateX(100%)
	transition transform 500ms ease-in-out
	z-index set-index(top)
	overflow hidden
	padding 3rem 1rem 0 1rem
	background-color $bg
	&.is-visible
		transform translateX(0)
		transition transform 500ms ease-in-out
  .minimap__hed
		margin 0
		set-type-size(small, false)
		max-width 7rem
		margin 0 auto
		font-family $sans-display
		font-weight 600
		color $tertiary
		text-align center
		line-height 1
		padding 1rem 0
		span
			color $primary

	.minimap__graphic
		position relative
	.book
		position absolute
		transform translate(-50%, 0)
