#sidebar
	height 100vh
	width 100%
	max-width 14rem
	position fixed
	top 0
	left 0
	transform translateX(-100%)
	transition transform 250ms ease-in-out
	z-index set-index(top)
	padding 1rem
	background-color darken($bg, 5)
	&.is-visible
		transform translateX(0)
		transition transform 250ms ease-in-out

	.sidebar__hed
		set-type-size(small, false)
		line-height 1
		font-family $sans-display
		color darken($bg, 60)
		text-align center
		margin 0 auto
		padding-bottom 1rem
		font-weight 600
		max-width 9rem

	.nav__slider
		margin-right 1rem
		margin-left 0.5rem
		margin-top 1rem
		margin-bottom 3rem

	h4
		font-family $sans-display
		set-type-size('medium')
		text-transform uppercase
		margin 0

	button
		font-family $sans-display
		padding 0.25rem 0.5rem
		border 1px solid darken($bg, 50)
		background lighten($bg, 2)
		set-type-size('small')
		margin 0.25rem 0.25rem 0 0
		transition background 150ms ease-in-out
		color $fg
		&:hover
			background darken($bg, 20)
		&.is-active
			background darken($bg, 20)

	.nav__desc
		font-family $sans-display
		margin-top 0.5rem
		color $primary
		set-type-size('small', false)
		line-height 1.2
	
	.nav__filter
		display flex
		flex-wrap wrap
		flex-direction column

.sidebar__drawer
	cursor pointer
	pointer-events: all
	position absolute
	background darken($bg, 5)
	height 2.5rem
	width 2.5rem
	margin 0
	left 11.5rem
	top 1rem
	border-radius 0 0.5rem 0.5rem 0
	display flex
	align-items center
	justify-content center
	&.is-visible
		transform translateX(100%)
		transition transform 400ms ease-in-out
	+mq('bp-6')
		display none
		pointer-events none
	.drawer__toggle
		position relative
		background-color darken($bg, 5)
		svg
			stroke darken($bg, 60)
			fill none
			&:first-of-type
				display block
			&:last-of-type
				display none
		&.is-visible
			svg
				&:first-of-type
					display none
				&:last-of-type
					display block
