/* CUSTOM STORY STYLE */

.font-vast
	font-family $vast

.font-righteous
	font-family $righteous

.font-unica
	font-family $unica

.font-abril
	font-family $abril

.font-quintessential
	font-family $quintessential

