<section id='outro'>
	<div class='prose conclusion'>
		{{#each doc.conclusion}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='prose method' id='methods'>
		{{#each doc.method}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>
