<div id='tooltip' role='tooltip'>
  <div class='tooltip__container'>

    <div class='tooltip__close'><img inline src='x.svg'></div>

    <div class='tooltip__contents'>

      <img class='tooltip__img-desktop' id='clipped_cover'>
      {{> story/cover-clip }}

      <div class='tooltip__meta'>
        <h4 class='tooltip__meta-title'></h4>
        <h5 class='tooltip__meta-author'></h5>
        <p class='tooltip__meta-year'></p>

        <a target='_blank' class='goodreads-link'>
          <div class='tooltip__meta-rating'>
            <div class='stars'></div>
            <p class='goodreads-attr'>on Goodreads</p>
          </div>
        </a>
      </div>

      <a target='_blank' class='tooltip__library'>Find in your nearest library</a>

    </div>

  </div>
</div>
