<div id='tooltip' role='tooltip'>
  <div class='tooltip__container'>

    <div class='tooltip__close'><img inline src='x.svg'></div>

    <div class='tooltip__contents'>
      <!-- <img inline src='cover-clip.svg'></div> -->

      <img class='tooltip__img-desktop' id='clipped_cover'>
      {{> story/cover-clip }}

      <!-- <img class='tooltip__img-desktop'>

      <div class='tooltip__meta'>
        <h4 class='tooltip__meta-title'></h4>
        <h5 class='tooltip__meta-author'></h5>
        <div class='tooltip__meta-subjects'></div>
        <p class='tooltip__meta-desc'></p>
        <a class='tooltip__gr' target=_blank>Find more info on GoodReads</a>
        <div class='tooltip__library-container'>
          <p class='tooltip__library'>Find it at Your Nearest Library:</p>
          <p class='tooltip__nearest'></p>
        </div>
      </div> -->

    </div>

  </div>
</div>
