<div id='tooltip' role='tooltip'>
  <div class='tooltip__contents'>

    <div class='tooltip__close'><img inline src='x.svg'></div>

    <img class='tooltip__img-desktop'>

    <div class='tooltip__meta'>
      <h4 class='tooltip__meta-title'></h4>
      <h5 class='tooltip__meta-author'></h5>
      <div class='tooltip__meta-subjects'></div>
      <p class='tooltip__meta-desc'></p>
      <a><p class='tooltip__goodreads'>Find more info on GoodReads</p></a>
      <div class='tooltip__library'>
        <p class='tooltip__library'>Find it at your closest library</p>
      </div>
    </div>
    
  </div>
</div>
